<!DOCTYPE html>
<html lang='ja'>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/main.17e92ed5.css">
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ yield }}
  </body>
  <script src="scripts/main.8bd37191.js"></script>
</html>