<!DOCTYPE html>
<html lang='ja'>
  <head>
    <link rel="stylesheet" type="text/css" href="st/styles/main.17e92ed5.css">
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ yield }}
    <h3>タイトル</h3>
    <div class="button--secondary">ボタン</div>
  </body>
  <script src="st/scripts/main.8bd37191.js"></script>
</html>